html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}
.wrapper::-webkit-scrollbar {
    display: none;
}

.item {
    width: 14%;
}
.highcharts-title {
    display: none;
}

.suggest::-webkit-scrollbar {
    width: 6px;
}
.suggest::-webkit-scrollbar-thumb {
    background-color: #dbd6d6;
    border-radius: 6px;
}
