html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}
.wrapper::-webkit-scrollbar {
    display: none;
}

.item {
    width: 14%;
}
.highcharts-title {
    display: none;
}

.highcharts-credits {
    display: none;
}
